body {
  padding-top: 60px;
}

/* Fix Toolbar for .navbar-fixed-top */
body.toolbar .navbar-fixed-top {
 top: 30px;
}

body.toolbar-drawer .navbar-fixed-top {
 top: 65px;
}

@media(min-width: 980px) {
  body.toolbar { padding-top: 90px !important; }
  body.toolbar-drawer { padding-top: 125px !important; }
}

html.overlay-open .navbar-fixed-top {
  z-index: 400;
}

/* Admin toolbar fix */
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}

div#admin-toolbar {
  z-index: 500;
}

.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}

/* System base fix */
.container-inline div, .container-inline label {
  display: block;
}

/* Default form fields to auto */
input, textarea, select, .uneditable-input {
  width:auto;
}

/* throbber fix */
html.js input.form-autocomplete {
  background-position: 100% 7px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}

.navbar-search .control-group {
  margin-bottom:0px;
}

input.error {
  color: #B94A48;
  border-color: #B94A48;
}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}